for i in `cat /etc/userdomains | awk '{print $2}'|sort|uniq |grep -v "nobody"| sed -e 1b -e '$!d'`
do
ls -al /backup/cpbackup/daily/ | grep -i "$i"
done
asdasdasdasdasdas
asdasdalskd;asdkasdk
asldl;ka;sdlkas
